@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Стили для печати PDF */
@media print {
  @page {
    margin: 0;
    size: A4 portrait;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #fff !important;
    color: #000 !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }
  
  .print-hidden {
    display: none !important;
  }
}

/* Специальные стили для PDF экспорта */
.pdf-container {
  width: 210mm; /* Ширина A4 */
  min-height: 297mm; /* Высота A4 */
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.pdf-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.pdf-sidebar {
  background-color: rgba(248,248,248,1) !important;
}
